.App {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.player {
  margin-bottom: 50px;
}

.player .name,
.player .country,
.player .searches {
  font-weight: bold;
}

.dark-mode {
  background: black;
  color: white;
}

button {
  height: 50px;
  width: 150px;
  border: 1px solid black;
  margin-bottom: 50px;
}
